
.icon-link:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-picture:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-tags:before { content: '\e809'; } /* '' */
.icon-login:before { content: '\e80f'; } /* '' */
.icon-logout:before { content: '\e810'; } /* '' */
.icon-cog-alt:before { content: '\e811'; } /* '' */
.icon-bell:before { content: '\e812'; } /* '' */
.icon-fire:before { content: '\e813'; } /* '' */
.icon-attention-circled:before { content: '\e814'; } /* '' */
.icon-user-outline:before { content: '\e815'; } /* '' */
.icon-users-outline:before { content: '\e816'; } /* '' */
.icon-eye:before { content: '\e817'; } /* '' */
.icon-eye-off:before { content: '\e818'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-pound:before { content: '\f154'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */